@font-face{font-family:"MuseoSans";src:url('//www.payps.ru/static/fonts/MuseoSansCyrl-100.woff');font-style:normal;font-weight:100}@font-face{font-family:"MuseoSans";src:url('//www.payps.ru/static/fonts/MuseoSansCyrl-100Italic.woff');font-style:italic;font-weight:100}@font-face{font-family:"MuseoSans";src:url('//www.payps.ru/static/fonts/MuseoSansCyrl-300.woff');font-style:normal;font-weight:300}@font-face{font-family:"MuseoSans";src:url('//www.payps.ru/static/fonts/MuseoSansCyrl-300Italic.woff');font-style:italic;font-weight:300}@font-face{font-family:"MuseoSans";src:url('//www.payps.ru/static/fonts/MuseoSansCyrl-500.woff');font-style:normal;font-weight:500}@font-face{font-family:"MuseoSans";src:url('//www.payps.ru/static/fonts/MuseoSansCyrl-500Italic.woff');font-style:italic;font-weight:500}@font-face{font-family:"MuseoSans";src:url('//www.payps.ru/static/fonts/MuseoSansCyrl-700.woff');font-style:normal;font-weight:700}@font-face{font-family:"MuseoSans";src:url('//www.payps.ru/static/fonts/MuseoSansCyrl-700Italic.woff');font-style:italic;font-weight:700}@font-face{font-family:"MuseoSans";src:url('//www.payps.ru/static/fonts/MuseoSansCyrl-900.woff');font-style:normal;font-weight:900}@font-face{font-family:"MuseoSans";src:url('//www.payps.ru/static/fonts/MuseoSansCyrl-900Italic.woff');font-style:italic;font-weight:900}@charset "utf-8";
.dpView{
    top: 28px;
    left: 8px;
    width: auto;
    background-color: white;
    position: absolute;
    font-family: 'MuseoSans',Verdana,Arial,sans-serif;
    font-size: .9em;

    position: absolute;
    z-index: 1;
    display: block;
    padding: 15px 19px 5px 18px;
    box-shadow: rgba(0,0,0,.2) 0 4px 10px;
}

.dpView .disabled{
    opacity: .35;
    filter: Alpha(Opacity=35);
    background-image: none;
    cursor: default!important;
}

.dpView .dpHeader {
    position: relative;
    padding: .2em 0;
}
.dpSelector{
    text-align: center;
}
.dpSelectorName{
    width: 100px;
    text-align: center;
    display: inline-block;
    border-style: none;
    background-color: white;
}
.dpSelectorButton{
    display: inline-block;
    width: 30px;
    margin: 5px;

}

.dpTable {
    width: 100%;
    border-collapse: collapse;
    margin: 0 0 .4em;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-family: 'MuseoSans',Verdana,Arial,sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #193152;
}
.dpTable td{
    border: 0;
    padding: 1px;
}
.dpTable th{
    padding: .7em .3em;
    text-align: center;
    font-weight: 300;
    border: 0;
}
.dpTable tr{
    text-align: center;
}
.dpTable tr:not(:last-child) {
    border-bottom: 1px #e4e4e4 solid;
}
.dpTable tbody span,a{
    width: 45px;
    text-align: center;
    border: 0;
    background: transparent;
    display: block;
    padding: .2em;
    font-weight: normal;
    text-decoration: none;
}
.dpTable a:hover{
    background: #f2f3f7;
}
.dpTable a:visited {
    color: #18335a;
}
.dpTable a {
    color: #18335a;
}
.dpTable .selected{
    background-color: white;
}
.dpTable a.weekend,span.weekend{
    color: #f1cb1a;
}
.dpTable a.weekend:visited{
    color: #f1cb1a;
}
.prevMonth {
    left: 2px;
    position: absolute;
    top: 2px;
    width: 1.8em;
    height: 1.8em;
    color: #222;
    /* border-radius: 4px; */
}

.nextMonth {
    right: 2px;
    position: absolute;
    top: 2px;
    width: 1.8em;
    height: 1.8em;
    color: #222;
}

.prevMonth span{
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    top: 50%;
    margin-top: -8px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #f1cb1a;
}

.nextMonth span{
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    top: 50%;
    margin-top: -8px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #f1cb1a;
}
.dpHeader a.prevMonth, a.nextMonth{
    top: 0px;
    cursor: default!important;
}

.dpTitle {
    margin: 0 2.3em;
    line-height: 1.8em;
    text-align: center;
}

.dpTitle select{
    width: auto;
    font-size: 16px;
    margin: 1px 0;
    outline: none;
    background: transparent;
    font-family: Verdana,Arial,sans-serif;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-weight: 300;
    line-height: 24px;
    color: #193152;
}